<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="bi bi-code-slash me-2"></i>DevFolio
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="bi bi-house-door me-1"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"><i class="bi bi-info-circle me-1"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills"><i class="bi bi-lightning-charge me-1"></i>Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects"><i class="bi bi-kanban me-1"></i>Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/experience"><i class="bi bi-briefcase me-1"></i>Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/education"><i class="bi bi-mortarboard me-1"></i>Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><i class="bi bi-envelope me-1"></i>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  